@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width:100%;height:auto;background-color:aqua">
    <h3 class="display-4">Welcome to BidWeb</h3>

    <div style="padding:15rem;">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="AllProducts" asp-controller="Product" class="btn btn-primary">See products</a>
            

        }

        else
        {
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login To View Products</a>
        }
    </div>
    
</div>
